<% include partials/header %>

<!-- Delete post Modal -->
<div id="deleteBox" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button style="color:red" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bạn chắc chắn muốn xóa post này ?</h4>
            </div>
            <div class="modal-footer">
                <form style="display:inline" role = "form" action = "/camp/<%= selectedCamp._id %>?_method=DELETE" method = "POST">
                    <button class = "btn btn-sm btn-danger">Yes</button>
                </form>
                <button class="btn btn-warning" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class = "container">
    <figure class = "thumbnail">
        <img class = "img-responsive" src = "<%= selectedCamp.fullImage %>">
        <figcaption>
            <h2><%= selectedCamp.name %></h2>
            <p> Created by <em><%= selectedCamp.author.username %></em> </p>
            <h3><%= selectedCamp.description %></h3>
            <% if (currentUser && selectedCamp.author.id.equals(currentUser._id)) { %>
            <div class = "text-right">
                <div>
                    <a class = "btn btn-sm btn-warning" href = "/camp/<%= selectedCamp._id %>/edit">Edit post</a>
                    <button class = "btn btn-sm btn-danger" data-toggle="modal" data-target = "#deleteBox">
                        Delete post
                    </button>
                </div>
            </div>
            <% } %>            
        </figcaption>
    </figure>
    
    <div class = "well">
        <div class = "text-right">
            <a href = "/camp/<%= selectedCamp._id %>/comment/new" class = "btn btn-success">
                Add new comment
            </a>
        </div>
        
        <section id = "comment">
            <% selectedCamp.comments.forEach(function(comment){ %>
                <div class = "row">
                    <div class = "col-md-8">
                        <p><strong><%= comment.author.username %></strong>: <%= comment.text %></p>
                    </div>
                </div>
                    
                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                    <div class = "row">
                        <div style = "margin-right: 5px" class = "col-sm-1">
                            <a class = "btn btn-xs btn-warning" 
                            href = "/camp/<%= selectedCamp._id %>/comment/<%= comment._id %>/edit" 
                            class = "">Edit comment</a>
                        </div>
                        
                        <div class = "col-sm-1">
                            <button class = "btn btn-xs btn-danger" 
                            data-toggle="modal" data-target="#deleteComment">Delete comment</button>
                        </div>
                    </div>
                    
                    <!-- Delete comment Modal -->
                    <div id="deleteComment" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button style="color:red" type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Bạn chắc chắn muốn xóa comment này ?</h4>
                                </div>
                                <div class="modal-footer">
                                    <form style="display:inline" role = "form" action = "/camp/<%= selectedCamp._id%>/comment/<%= comment._id %>?_method=DELETE" 
                                    method = "POST">
                                        <button class = "btn btn-sm btn-danger">Yes</button>
                                    </form>
                                    <button class="btn btn-warning" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        </section>
    </div>
</div>

<% include partials/footer %>